<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wine List</title>

    <!-- Bootstrap CSS + propper CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/WineList.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Wine List</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Wine List</h1>
                <p class="lead">Select your wines from the list below</p>
            </div>
            <div class="col-lg-4">
                <form enctype="application/json" action="/post/json" method="post">
                    <div class="form-group">
                        <select class="form-control" name="sec_n">
                            <option value="0">Red Wine</option>
                            <option value="1">White Wine</option>
                            <option value="2">Dessert Wine</option>
                            <option value="3">Champagne</option>
                        </select>

                        <!-- <div class="form-group">
                        <label for="optReserve">Is this a Reserve Wine?</label><br>
                        <select class="form-control" name="optReserve">
                            <option value="0">True</option>
                            <option value="1">False</option>
                        </select> -->

                        <input class="form-control mt-3" type="text" name="name" placeholder="Name">
                        <input class="form-control mt-3" type="text" name="country" placeholder="Country">
                        <input class="form-control mt-3" type="text" name="region" placeholder="Region">
                        <input class="form-control mt-3" type="text" name="price" placeholder="Price">
                        <input class="form-control mt-3" type="text" name="year" placeholder="Year">

                        <!-- <input type="checkbox" id="optReserve" name="isReserve" value="true">
                        <label for="optReserve">Check for Reserve Wine</label><br> -->

                        <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
                    </div>
                </form>
                
                <button id="delete" class="btn btn-danger btn-block mt-3">Delete</button>
                <p class="text-muted text-center">To delete a wine, select the required row first</p>
                
                <form>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">&euro;</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Total" name="txtBillAmt">
                        
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="checkbox" id="showReserveWine"
                                    aria-label="Mark to highhighlight Reserve Wines" alt="Reserve Wines">
                            </div>
                        </div>
                        <input class="btn btn-block btn-secondary mt-2" type="button" name="btnCalcBill"
                            value="Calculate your bill" id="calcBill">
                    </div>
                </form>
            </div>
            <div id="results" class="col-lg-8"></div>
        </div>
    </div>
    </div>

    <footer class="footer">
        <div class="container text-center"><span class="text-muted">&copy; 2020</span></div>
    </footer>

    <!-- Bootstrap JS + propper JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/table.js"></script>

</body>

</html>